<template>
  <div class="row full-height items-center">
    <div class="col">
      <div
        class="col-3 text-center"
        style="
          width: 70vw;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
        "
      >
        <p style="font-size: 14pt; font-weight: bold; line-height: normal">
          О нет, тут пусто!<br>
          <small style="font-weight: normal">
            Хватит просто думать о кофе,<br>
            загляни-ка скорее в меню!
          </small>
        </p>
      </div>
      <div class="col-9 flex flex-center">
        <q-img
          style="max-width: 600px;"
          title="Тут будут котики"
          :src="`https://cataas.com/cat/gif?${Math.random()}`"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'EmptyCartBody',
  computed: {
    getImageStyle() {
      return {
        'background-color': '#f5f5f5',
        width: '70vw',
        height: '70vw',
        'margin-left': 'auto',
        'margin-right': 'auto',
        'background-position': '50% 50%',
        'background-size': 'contain',
        'background-image': `url("https://cataas.com/cat/gif?${Math.random()}")`,
      }
    },
  },
}
</script>
