<template>
  <q-card>
    <q-dialog
      v-model="offerVisible"
      maximized
    >
      <Offer @close="offerVisible=false" />
    </q-dialog>

    <q-toolbar>
      <q-toolbar-title>
        Оформление заказа
      </q-toolbar-title>
    </q-toolbar>
    <q-card-section>
      <q-form>
        <q-input
          v-model="cartStore.orderInfo.comment"
          :model-value="cartStore.orderInfo.comment"
          label="Комментарий к заказу"
          autogrow
          type="textarea"
        />
        <q-input
          v-model="cartStore.orderInfo.time"
          :model-value="cartStore.orderInfo.time"
          type="time"
          label="Приготовить ко времени"
        />
        <q-checkbox
          v-model="cartStore.orderInfo.door"
          :model-value="cartStore.orderInfo.door"
          label="Принести заказ к двери"
        />
        <div v-if="userStore.profile.balance>0">
          <q-item-label>Оплатить бонусами</q-item-label>
          <q-range
            v-model="cartStore.orderInfo.bonus"
            :model-value="cartStore.orderInfo.bonus"
            :min="0"
            :max="userStore.profile.balance"
            label-always
          />
        </div>
      </q-form>
    </q-card-section>
    <q-card-actions>
      <q-btn
        q-card-actions
        label="Отправить заказ"
        color="primary"
        class="full-width"
        :loading="cartStore.isLoading"
        @click="orderSend"
      />
      <p
        class="text-center"
        style="font-size: small"
      >
        Нажимая на кнопку, вы соглашаетесь с <span
          style="color: #cc4f23; font-weight: bold; text-decoration: underline; cursor: pointer"
          @click="offerVisible=true"
        >публичной офертой</span>
      </p>
    </q-card-actions>
  </q-card>
</template>

<script setup lang="ts">
import { defineEmits, ref } from 'vue'
import { useUserStore } from 'src/store/user'
import { useCartStore } from 'src/store/cart'
import { Notify } from 'quasar'
import { useRouter } from 'vue-router'
import Offer from 'components/docs/Offer.vue'

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(e:'close'): void}>()

const userStore = useUserStore()
const cartStore = useCartStore()
const router = useRouter()
const offerVisible = ref(false)

const orderSend = async () => {
  if (!userStore.token) {
    await router.replace('/login')
    return
  }

  if (!await cartStore.send()) {
    Notify.create({
      message: 'Не удалось отправить Ваш заказ!',
      caption: 'Проверьте подключение к интернет',
      timeout: 5000,
      type: 'negative',
    })
    return
  }
  cartStore.clear()
  Notify.create({
    message: 'Ваш заказ отправлен!',
    caption: 'Скоро с вами свяжется бариста для подтверждения заказа',
    timeout: 5000,
    type: 'positive',
  })
  emits('close')
}

</script>

<style scoped>

</style>
