<template>
  <q-card>
    <q-card-section>
      <pre style="white-space: pre-wrap">
  Публичная оферта о продаже товаров
  дистанционным способом
  (редакция от 01 января 2022 года)

1. Термины и определения
1.1. «Cлужба доставки» – лица, оказывающие услуги по доставке товаров от имени Продавца.
1.2. «Сайт» –  https://www.surf31.ru, https://surf31.ru и Мобильное приложение Surf Coffee® на его основе.
1.3. «Спот» - место приготовления и/или продажи товаров, принадлежащих продавцу. Адреса и реквизиты Спотов указываются на Сайте.
1.4. «Продавец» – юридическое лицо или индивидуальный предприниматель, указанное в качестве продавца товара.
1.5. «Покупатель» – любое дееспособное лицо, намеренное заказать, приобрести либо заказывающие, приобретающие товары исключительно для личных, семейных, домашних или иных нужд, не связанных с осуществлением предпринимательской деятельности.
1.6. «Товары» - перечень продукции, представленной на Сайте. Товары могут отличаться от изображения на Сайте или Споте.

2. Общие положения
2.1. Продавец и покупатель гарантируют, что обладают необходимой право- и дееспособностью, а также всеми правами, необходимыми для заключения и исполнения договора розничной купли-продажи дистанционным способом.
2.2. Покупатель обязуется ознакомиться с условиями настоящей оферты, с информацией, указанной на Сайте в отношении товаров, с условиями бонусной лицензии (серфера), Пользовательским соглашением.
2.3. Продавец оставляет за собой право вносить изменения в настоящую оферту, в связи с чем покупатель обязуется самостоятельно отслеживать наличие изменений в настоящей оферте.
2.4. При оформлении заказа товаров покупатель тем самым подтверждает, что он исполнил обязанности, предусмотренные пунктом 2.2. настоящей оферты.
2.5. Договор розничной купли-продажи дистанционным способом считается заключенным с момента оплаты покупателем товара.
2.6. Срок, в течение которого действует предложение о заключении договора розничной купли-продажи дистанционным способом, является бессрочным.

3. Предмет договора
3.1. Продавец продает товары, указанные на Сайте, по ценам, представленным на Сайте,  Покупатель производит оплату и принимает товары в соответствии с условиями настоящей оферты.
3.2. Право собственности и риск случайной гибели/повреждения товаров переходит к покупателю в момент приемки товаров покупателем.

4. Уведомления покупателя
4.1. Продавец (или иное лицо по поручению продавца) вправе отправлять сервисные сообщения (в том числе push-уведомления), а также совершать сервисные уведомления по электронной почте, sms, телефону, информирующие покупателя о совершенном им заказе, его составе, этапах его обработки и о готовности заказа. Такие сервисные сообщения и уведомления покупателя направлены на контроль качества оказания услуг покупателю и его информирование о надлежащем исполнении продавцом своих обязательств по договору купли-продажи товаров дистанционным способом. Сервисные сообщения не могут быть отклонены покупателем.

5. Оформление заказа товаров
5.1. Заказ покупателя оформляется посредством заполнения электронной формы заказа на Сайте.
5.2. Покупатель обязуется предоставить достоверные данные, необходимые и достаточные для исполнения договора розничной купли-продажи товаров дистанционным способом.
5.3. В случае возникновения у покупателя дополнительных вопросов, касающихся товаров, перед оформлением заказа покупатель должен обратиться к продавцу по чату или телефону для получения необходимой информации (в соответствии с режимом работы, указанным на Сайте).
5.4. Покупатель может заказать только те товары, которые есть в наличии в момент оформления заказа товаров у продавца.
5.5. Покупатель имеет право удалить ингредиенты из состава товара, при наличии технической возможности, при этом цена на товар не меняется.
5.6. Покупатель не имеет право изменить состав заказа после его оформления.
5.7. При оформлении заказа на Сайте Покупатель принимает условия Пользовательского соглашения.
5.8. Если у продавца отсутствует необходимое количество или ассортимент заказанных покупателем товаров, продавец информирует об этом покупателя после получения заказа. Покупатель вправе согласиться принять товары в ином количестве или ассортименте, либо аннулировать свой заказ. В случае неполучения ответа покупателя продавец вправе аннулировать заказ покупателя в полном объеме.
5.9. С момента получения оплаты за заказанный товар продавец предоставляет покупателю подтверждение заключения договора розничной купли-продажи на условиях оферты, в котором указывается номер заказа или иной способ идентификации заказа.
6. Доставка товаров
6.1. Товары, заказанные на Споте, покупатель забирает самостоятельно.
Товары, заказанные через раздел «магазин», размещенный на Сайте, доставляется выбранной службой доставки по адресу, указанному покупателем при оформлении заказа.
6.2. В случае нарушения установленных сроков доставки товаров в силу обстоятельств непреодолимой силы («форс-мажор») в соответствии с разделом 9 настоящей оферты продавец не считается просрочившим доставку.
6.3. Доставленный товар передается покупателю по указанному им адресу, а при отсутствии покупателя - любому лицу, предъявившему информацию о номере заказа, либо иное (в том числе электронное) подтверждение заключения договора розничной купли-продажи или оформление заказа.
В случае если доставка товара произведена в установленные договором розничной купли-продажи сроки, но товар не был передан покупателю по его вине, последующая доставка производится в новые сроки, согласованные с продавцом.
6.4. Продавец вправе отказаться от исполнения договора розничной купли-продажи дистанционным способом в том случае, если служба доставки по прибытии к фактическому адресу доставки покупателя не может осуществить фактическую передачу доставленных товаров по вине покупателя (покупатель в течение 10 минут не отвечает на телефонный вызов или не открывает дверь службе доставки).

7. Оплата товаров
7.1. Цены на товары определяются продавцом в одностороннем порядке и указываются на Сайте. Цена на заказанный покупателем товар изменению не подлежит.
7.2. Оплата товаров покупателем производится в рублях Российской Федерации путем безналичного расчета банковской картой на Кассе Спота.
7.3. Выдача кассового чека в электронном виде не производится.

8. Передача товара покупателю
8.1. Продавец обязан передать покупателю товары, которые соответствуют его заказу, качество которых соответствует информации, представленной покупателю при заключении договора розничной купли-продажи дистанционным способом, а также информации, доведенной до его сведения при передаче товаров (на этикетке или вкладыше, прикрепленных к товарам или их упаковке, либо другими способами, предусмотренными для отдельных видов товаров).
8.2. При получении товаров на Споте покупатель проверяет соответствие полученных товаров своему заказу.
Возврат товара надлежащего качества, заказанного на Споте, не допускается, поскольку товар имеет индивидуально-определенные свойства, и может быть использован исключительно приобретающим его покупателем.
В случае получения некачественных товаров либо несоответствия полученных товаров заказанному (отсутствие заявленных ингредиентов в товаре), Покупатель вправе потребовать замены таких товаров товарами надлежащего качества в течение 5 (пяти) минут после проверки соответствия полученного товара.
8.3. Покупатель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней.
Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у покупателя документа, подтверждающего факт и условия покупки товара, не лишает его возможности ссылаться на другие доказательства приобретения товара у данного продавца.
При отказе покупателя от товара продавец должен возвратить ему денежную сумму, уплаченную покупателем по договору, за исключением расходов продавца на доставку от покупателя возвращенного товара, не позднее чем через десять дней со дня предъявления покупателем соответствующего требования.

9. Форс-мажор
9.1. Любая из сторон освобождается от ответственности за полное или частичное неисполнение своих обязательств по настоящей оферте, если это неисполнение было вызвано обстоятельствами непреодолимой силы. Обстоятельства непреодолимой силы означают чрезвычайные события и обстоятельства, которые стороны не могли ни предвидеть, ни предотвратить разумными средствами. Такие чрезвычайные события или обстоятельства включают в себя, в частности: забастовки, эпидемии, ограничения, установленные государственными органами, наводнения, пожары, землетрясения и иные стихийные бедствия, войны, военные действия и так далее.

10. Ответственность сторон публичной оферты
10.1. Продавец не несет ответственности за ущерб, причиненный покупателю вследствие ненадлежащего использования им товаров, приобретённых у продавца.
10.2. Продавец не отвечает за убытки покупателя, возникшие в результате неправильного заполнения заказа, в том числе неправильного указания своих данных.
10.3. В случае злоупотребления покупателем правами потребителя, включая, но не ограничиваясь, если покупатель отказался от приемки заказанного и доставленного товара, продавец вправе реализовать свое право на самозащиту, а именно: не принимать от него будущие заказы.
10.4. В случае одностороннего отказа покупателя от приемки товара, продавец вправе реализовать свое право на самозащиту, взыскать убытки с покупателя, оплаченная за товар сумма не возвращается.
  </pre>
    </q-card-section>
    <q-btn
      icon="close"
      fab-mini
      outline
      class="fixed-top-right q-ma-sm q-mr-md"
      @click="emits('close')"
    />
  </q-card>
</template>

<script setup lang="ts">

import { defineEmits } from 'vue'

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(e:'close'): void}>()

</script>

<style scoped>

</style>
