<template>
  <q-card>
    <q-card-section>
      <pre style="white-space: pre-wrap">
  СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ

Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность,  даю свое согласие
ИП Сабиров Евгений Маратович (ИНН 312006043390, ОГРН 319312300011220, 308505, Белгородская обл, Белгородский р-н, село Никольское) – далее по тексту «Оператор»,
на обработку своих персональных данных, которые стали известны Оператору в связи с вступлением мной в переписку с Оператором, указаны мной в форме веб-чата и/или в форме заказа обратного звонка на следующих условиях:
1. Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.
2. Согласие дается на обработку следующих персональных данных:
  - имя/фамилия или псевдоним/ник, фотография;
  - данные, которые автоматически передаются сервисам Оператора в процессе их использования с помощью установленного на моем устройстве программного обеспечения, в том числе IP-адрес, дата и время доступа к сервисам;
  - иные персональные данные, которые я указываю при переписке или при общении с Оператором по телефону.
3. Персональные данные не являются общедоступными.
4. Цель обработки персональных данных: обеспечение обмена короткими текстовыми сообщениями в режиме онлайн-диалога, обеспечение функционирования обратного звонка и телефонные переговоры с Оператором в результате обратного звонка.
5. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение, извлечение, использование, передача, обезличивание,  блокирование, удаление, уничтожение.
6. Оператор предполагает, что я предоставляю исключительно достоверную и актуальную информацию и не ввожу в заблуждение в отношении своей личности, не сообщаю ложную или недостоверную информацию о себе.
7. Я понимаю и соглашаюсь с тем, что Оператор не проверяет достоверность персональных данных, предоставляемых мной, и не имеет возможности оценивать мою дееспособность и исходит из того, что я предоставляю достоверные персональные данные и поддерживаю такие данные в актуальном состоянии.
8. Согласие действует до момента его отзыва. Согласие может быть отозвано субъектом персональных данных или его представителем путем направления уведомления посредством его направления по электронной почте на адрес dev@its.bz. В случае отзыва мною согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без моего согласия при наличии оснований, указанных Федеральном законе № 152-ФЗ «О персональных данных» от 27.07.2006 г.
  </pre>
    </q-card-section>
    <q-btn
      icon="close"
      fab-mini
      outline
      class="fixed-top-right q-ma-sm q-mr-md"
      @click="emits('close')"
    />
  </q-card>
</template>

<script setup lang="ts">

import { defineEmits } from 'vue'

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(e:'close'): void}>()

</script>

<style scoped>

</style>
