<template>
  <q-header
    elevated
    reveal
  >
    <q-toolbar>
      <q-toolbar-title>
        {{ app.name }}
        <span
          class="text-grey-6"
          style="font-size: small"
        >ver.{{ app.version }}</span>
      </q-toolbar-title>
      <q-btn
        :icon="Dark.isActive?`light_mode`:`dark_mode`"
        flat
        fab
        @click="darkModeToggle"
      />
    </q-toolbar>
    <MenuCategories
      v-if="$route.path==='/'"
      :categories="menuStore.menu.categories"
    />
  </q-header>
</template>
<script setup lang="ts">
import { useMenuStore } from 'src/store/menu'
import MenuCategories from 'components/menu/MenuCategories.vue'
import { Dark } from 'quasar'
import { onMounted } from 'vue'
import { useUserStore } from 'src/store/user'

const menuStore = useMenuStore()
const userStore = useUserStore()
// eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
const app = { name: process.env.APP_NAME, version: process.env.app.version }
const darkModeToggle = () => {
  userStore.settings.dark = !userStore.settings.dark
  userStore.setDarkMode()
}

onMounted(() => {
  userStore.setDarkMode()
})
</script>
