<template>
  <q-footer reveal>
    <q-tabs>
      <q-route-tab
        to="/"
        exact
        replace
        icon="home"
        name="Index"
      />
      <q-route-tab
        to="/profile"
        exact
        replace
        icon="face"
      />
      <q-route-tab
        id="cart"
        to="/cart"
        exact
        replace
        icon="shopping_cart"
      >
        <q-badge
          v-if="cartStore.cart.length"
          floating
          color="accent"
          rounded
        >
          {{ cartStore.cart.length }}
        </q-badge>
      </q-route-tab>
      <q-route-tab
        to="/about"
        exact
        replace
        icon="info"
      />
    </q-tabs>
  </q-footer>
</template>
<script setup lang="ts">
import { useCartStore } from 'src/store/cart'

const cartStore = useCartStore()
</script>
