<template>
  <q-card style="width: 300px">
    <q-img :src="product.image">
      <q-chip clickable>
        i
        <q-tooltip>
          {{ product.full_desc }}
        </q-tooltip>
      </q-chip>
      <div class="absolute-bottom text-subtitle1">
        {{ product.name }}
      </div>
    </q-img>
    <q-card-section>
      <q-select
        v-for="(modG, groupIndex) in product.grouped_modifiers"
        :key="modG.name"
        v-model="selectedModG[groupIndex]"
        :label="modG.name"
        :model-value="selectedModG[groupIndex]"
        :options="modG.modifiers"
        option-label="name"
        emit-value
      >
        <template #option="scope">
          <q-item
            v-bind="scope.itemProps"
            @click="productStore.toggleGrouped(groupIndex, scope.index)"
          >
            <q-item-section>
              <q-item-label>{{ scope.opt.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-select>

      <q-space style="height: 20px" />

      <q-checkbox
        v-for="(modS, simpleIndex) in product.simple_modifiers"
        :key="modS.name"
        v-model="selectedModS[simpleIndex]"
        class="q-pa-sm"
        no-caps
        color="accent"
        dense
        rounded
        :label="modS.name"
        :model-value="selectedModS[simpleIndex]"
        @update:model-value="productStore.toggleSimple(simpleIndex)"
      />
    </q-card-section>
    <q-card-actions>
      <q-btn-group
        outline
        rounded
        class="full-width"
      >
        <q-btn
          color="primary"
          icon="arrow_left"
          @click="onClose"
        />
        <q-btn
          color="accent"
          class="full-width"
          no-caps
          :label="`Добавить за ${price} ₽`"
          @click="addToCart"
        />
      </q-btn-group>
    </q-card-actions>
  </q-card>
</template>

<script setup lang="ts">
import { ModS, Product } from 'src/store/menu'
import {
  defineProps, defineEmits, computed, onMounted, ref,
} from 'vue'
import { useProductStore } from 'src/store/product'

const props = defineProps<{
  product: Product
}>()
const productStore = useProductStore()
// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(e:'close', product: Product): void}>()
const selectedModG = ref([{} as ModS, {} as ModS])
const selectedModS = ref([] as boolean[])

const price = computed(() => productStore.currentProd.price)

const onClose = () => {
  emits('close', props.product)
}

const addToCart = () => {
  productStore.addToBasket()
  emits('close', props.product)
}

onMounted(() => {
  productStore.initProduct({ ...props.product })

  productStore.currentProd.grouped_modifiers.forEach((item, index) => {
    selectedModG.value[index] = item.modifiers[0]
  })

  productStore.currentProd.simple_modifiers.forEach((item, index) => {
    selectedModS.value[index] = false
  })
})

</script>
