<template>
  <q-card
    square
    class="relative-position full-width cursor-pointer"
    @click="onClickProduct"
  >
    <q-card-section horizontal>
      <q-img
        :id="`img_${props.product.id}`"
        :ref="el => { if (el) prods[props.product.id] = el }"
        width="150px"
        height="150px"
        ratio="1"
        fit="fill"
        :src="props.product.image"
        loading="lazy"
      />
      <q-btn
        fab-mini
        class="absolute-top-left q-ma-sm text-black"
        ripple
        icon="add"
        @click.stop="()=>addToCart(props.product)"
      />
      <div class="absolute-bottom-right q-pr-sm text-weight-bold">
        {{ product.price }} руб.
      </div>
      <q-card-section style="width: calc(100% - 150px)">
        <p style="font-size: large">
          {{ props.product.name }}
        </p>
        <p class="ellipsis-3-lines">
          {{ props.product.short_desc }}
        </p>
      </q-card-section>
    </q-card-section>

    <q-dialog v-model="dialogVisible">
      <MenuItemDetails
        :product="props.product"
        @close="dialogVisible=false"
      />
    </q-dialog>
  </q-card>
</template>

<script setup lang="ts">
import { Product } from 'src/store/menu'
import { ref } from 'vue'
import MenuItemDetails from 'components/menu/MenuItemDetails.vue'
import { useProductStore } from 'src/store/product'

// eslint-disable-next-line no-undef
const props = defineProps<{
  product: Product
}>()
const prods = ref([])
const productStore = useProductStore()
const dialogVisible = ref(false)

// eslint-disable-next-line no-unused-vars
const addToCart = (product: Product) => {
  const el = prods.value[product.id].$el as HTMLElement
  const nl = el.cloneNode(true) as HTMLElement
  const rect = el.getBoundingClientRect()
  const cartRect = document.querySelector('#cart').getBoundingClientRect()
  nl.setAttribute('style', `position: fixed; width: 150px; left: ${rect.x}px; top:${rect.y}px; transition: all 1s; z-index:1000`)
  el.parentElement.appendChild(nl)
  setTimeout(() => {
    nl.style.left = `${cartRect.x}px`
    nl.style.top = `${cartRect.y + 50}px`
    nl.style.transform = 'scale(0.1) rotateZ(180deg)'
    productStore.initProduct({ ...props.product })
    productStore.addToBasket()
  }, 1)
}

const onClickProduct = () => {
  dialogVisible.value = true
}

</script>
