<template>
  <q-tabs
    :model-value="selected"
    switch-indicator
    class="bg-primary"
    active-bg-color="secondary"
    indicator-color="accent"
    shrink
    @update:model-value="tabChange"
  >
    <q-tab
      :key="-1"
      :name="-1"
      label="Все"
    />
    <q-tab
      v-for="category in props.categories"
      :key="category.id"
      :name="category.id"
      :label="category.name"
    />
  </q-tabs>
</template>

<script setup lang="ts">
import { Category, useMenuStore } from 'src/store/menu'
import { ref } from 'vue'

// eslint-disable-next-line no-undef
const props = defineProps<{
  categories: Category[]
}>()

const menuStore = useMenuStore()
const selected = ref(menuStore.selectedCategory.id)
const tabChange = (event: number) => {
  menuStore.selectedCategory = event === -1
    ? { id: -1, name: 'All', sort: 100 } as Category
    : menuStore.menu.categories.filter((i) => i.id === event)[0]
  selected.value = event
}

</script>

<style scoped>

</style>
