body.body--light {
  --q-primary: #232323;
  --q-secondary: #3a3a3a;
  --q-accent: #cc4f23;
  --q-dark: #1D1D1D;
  --q-text: #1D1D1D;
  --q-text-bg: #ffffff;
}

body.body--dark {
  --q-primary: #232323;
  --q-secondary: #3a3a3a;
  --q-accent: #cc4f23;
  --q-dark: #606060;
  --q-text: #ff0000;
  --q-text-bg: #000000;
}
