<template>
  <q-page
    padding
    class="flex flex-center"
  >
    <div style="width: 300px">
      <q-img src="https://static.tildacdn.com/tild6135-6261-4365-a530-373835323037/sc_logo_script.jpg" />
      <hr>
      Мобильный сервис лояльности сети кофеен &copy;SurfCofee в Белгороде<br>
      Версия {{ version }}<br><br>
      Разработано <a
        class="q-link text-accent"
        href="//its.bz"
        target="_blank"
      >АйТиЭс</a> в 2022 году
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const version = ref(process.env.app.version)
</script>
