<template>
  <q-page padding>
    <q-dialog v-model="showOrder">
      <OrderSend @close="showOrder = false" />
    </q-dialog>

    <q-btn-group
      class="full-width"
      flat
      rounded
      spread
    >
      <q-btn
        v-if="cartStore.cart.length"
        dense
        label="Очистить корзину"
        color="primary"
        @click="cartStore.clear()"
      />
      <q-btn
        v-if="cartStore.cart.length"
        label="Оформить заказ"
        color="accent"
        @click="showOrder=true"
      />
      <q-btn
        v-else
        label="К меню"
        color="primary"
        to="/"
      />
    </q-btn-group>

    <CartEmptyBody
      v-if="cartStore.cart.length===0"
      class="q-mt-md full-width flex flex-center"
    />

    <q-list
      v-if="cartStore.cart.length>0"
      separator
      class="full-width"
    >
      <q-item
        v-for="item in cartStore.cart"
        :key="item.id"
        class="row flex-center q-gutter-sm"
        @click="()=>itemEdit(item)"
      >
        <q-item-section thumbnail>
          <img
            :src="item.image"
            style="width: 100px"
            class="col-2"
            alt="trrt"
          >
          <q-btn
            fab-mini
            class="absolute-top-left q-ma-sm text-black"
            ripple
            icon="close"
            @click.stop="()=>cartStore.remove(item)"
          />
          <q-btn
            v-if="item.amount>1"
            fab-mini
            class="absolute-bottom-left q-ma-sm text-black"
            ripple
            icon="remove"
            @click.stop="()=>{item.amount--}"
          />
          <q-btn
            v-if="item.amount<10"
            fab-mini
            dense
            class="absolute-bottom-left q-ma-sm text-black"
            style="margin-left: 60px"
            ripple
            icon="add"
            @click.stop="()=>{item.amount++}"
          />
        </q-item-section>

        <q-item-section>
          {{ item.name }}<br>
          <small>
            <span
              v-for="(modG, indexG) in item.selectedGrouped"
              :key="modG"
            >
              {{ item.grouped_modifiers[indexG].name }}:
              <span class="text-weight-bold">
                {{ item.grouped_modifiers[indexG].modifiers[item.selectedGrouped[indexG]].name }}
              </span><br>
            </span>
            <span>{{ item.simple_modifiers.filter((m, idx)=> item.selectedSimple[idx]===1).map(i=>i.name).join(', ') }}</span>
          </small>
          <div v-if="item.amount===1">
            {{ item.amount * item.price }} руб
          </div>
          <div v-else>
            {{ item.amount }}x{{ item.price }} = {{ item.amount * item.price }} руб
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useCartStore } from 'src/store/cart'
import OrderSend from 'components/OrderSend.vue'
import CartEmptyBody from 'components/CartEmptyBody.vue'

const cartStore = useCartStore()
const showOrder = ref(false)
</script>
