<template>
  <div class="fullscreen bg-accent text-white text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 30vh">
        404
      </div>

      <div
        class="text-h2"
        style="opacity:.4"
      >
        Упс. А тут пусто...
      </div>

      <q-btn
        class="q-mt-xl"
        color="secondary"
        text-color="white"
        unelevated
        to="/"
        label="Начть с начала"
        no-caps
      />
    </div>
  </div>
</template>

<script setup lang="ts">
</script>
