<template>
  <q-page class="row items-start justify-evenly">
    <q-page-scroller
      position="bottom-right"
      :scroll-offset="150"
      :offset="[18, 18]"
      style="z-index: 1"
    >
      <q-btn
        fab-mini
        round
        icon="keyboard_arrow_up"
        color="primary"
        text-color="white"
      />
    </q-page-scroller>
    <div class="row">
      <q-intersection
        v-for="product in products"
        :key="product.id"
        once
        class="example-item"
      >
        <MenuListItem
          :product="product"
        />
      </q-intersection>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed } from 'vue'
import { useMenuStore } from 'src/store/menu'
import MenuListItem from 'components/menu/MenuListItem.vue'

const menuStore = useMenuStore()
const products = computed(() => (menuStore.selectedCategory.id === -1
  ? menuStore.menu.products
  : menuStore.menu.products.filter((i) => i.category_id === menuStore.selectedCategory.id)))

onMounted(() => {
  menuStore.load().catch((e:any) => console.log(e))
})
</script>

<style>
.example-item {
  height: 150px;
  width: 400px;
  max-width: 100vw;
  overflow: hidden;
}
</style>
