<template>
  <q-page
    padding
    class="flex flex-center"
  >
    <q-dialog
      v-model="offerVisible"
      maximized
    >
      <Offer @close="offerVisible=false" />
    </q-dialog>

    <q-dialog
      v-model="pdVisible"
      maximized
    >
      <PersonalData @close="pdVisible=false" />
    </q-dialog>

    <q-card
      style="width: 300px"
    >
      <q-img src="https://static.tildacdn.com/tild6135-6261-4365-a530-373835323037/sc_logo_script.jpg" />
      <q-card-section class="relative-position">
        <p>
          Введите номер телефона, чтобы войти
        </p>
        <q-input
          v-if="step===1"
          v-model="phone"
          class="absolute-center"
          style="margin-top: 20px; width: 120px"
          autofocus
          model-value=""
          mask="+7 XXX XXX-XX-XX"
          placeholder="+7 XXX XXX-XX-XX"
          @keyup.enter="sendSMS"
        />
        <q-input
          v-if="step===2"
          v-model="code"
          type="number"
          class="absolute-center"
          style="margin-top: 20px; width: 50px"
          autofocus
          unmasked-value="unmasked-value"
          model-value=""
          mask="XXXX"
          borderless
          dense
          placeholder="XXXX"
          @keyup.enter="login"
        />
      </q-card-section>
      <q-card-actions>
        <q-btn
          v-if="step===1"
          class="full-width"
          label="Проверить номер"
          color="primary"
          :loading="userStore.isLoading"
          @click="sendSMS"
        />
        <q-btn-group
          v-if="step===2"
          spread
          flat
          rounded
          class="full-width"
        >
          <q-btn
            dense
            label="Назад"
            color="secondary"
            icon="arrow_left"
            @click="step = 1"
          />
          <q-btn
            label="Войти"
            color="primary"
            :loading="userStore.isLoading"
            icon-right="login"
            @click="login"
          />
        </q-btn-group>
        <p
          class="text-center q-mt-md"
          style="font-size: small"
        >
          Нажимая на кнопку, вы соглашаетесь с <span
            style="color: #cc4f23; font-weight: bold; text-decoration: underline; cursor: pointer"
            @click="offerVisible=true"
          >публичной офертой</span> и даёте своё согласие на <span
            style="color: #cc4f23; font-weight: bold; text-decoration: underline; cursor: pointer"
            @click="pdVisible=true"
          >обработку персональных данных</span>
        </p>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useUserStore } from 'src/store/user'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'
import Offer from 'components/docs/Offer.vue'
import PersonalData from 'components/docs/PersonalData.vue'

const $q = useQuasar()
const userStore = useUserStore()
const router = useRouter()

const phone = ref('')
const code = ref('')
const step = ref(1)
const offerVisible = ref(false)
const pdVisible = ref(false)

const sendSMS = async () => {
  const res = await userStore.sendSMS(phone.value)
  if (!res.error) step.value = 2
  else {
    $q.notify({
      message: 'Что-то не получилось',
      caption: res.error.toString(),
      type: 'negative',
    })
  }
}

const login = async () => {
  const res = await userStore.login(phone.value, code.value)
  if (!res.error && userStore.token) await router.replace('/profile')
  else {
    $q.notify({
      message: 'Что-то не получилось',
      caption: res.error.toString(),
      type: 'negative',
    })
  }
}
</script>
