<template>
  <q-page
    padding
    class="flex flex-center"
  >
    <div style="width: 300px">
      <div v-if="edit">
        <br>
        <q-input
          v-model="userStore.profile.birthday"
          mask="##.##.####"
          :model-value="userStore.profile.birthday"
          label="Дата рождения"
        /> <br>
        <q-input
          v-model="userStore.profile.email"
          type="email"
          :model-value="userStore.profile.email"
          label="Email"
        /> <br>
        <q-input
          v-model="userStore.profile.name"
          :model-value="userStore.profile.name"
          label="Имя"
        /> <br>
        <q-btn-group
          spread
          flat
          rounded
          class="full-width"
        >
          <q-btn
            icon="arrow_left"
            dense
            color="secondary"
            label="Назад"
            @click="edit=false"
          />
          <q-btn
            icon="save"
            color="primary"
            label="Сохранить"
            @click="profileSave"
          />
        </q-btn-group>
      </div>

      <q-space style="height: 20px" />

      <q-card v-if="!edit">
        <q-toolbar
          inset
          class="bg-primary text-white"
        >
          <q-toolbar-title>
            Лицензия сёрфера
          </q-toolbar-title>
        </q-toolbar>
        <q-card-section>
          <q-img
            :src="`https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=${userStore.profile.card}`"
          />
          <div>
            <div class="text-h6 text-weight-bold">
              {{ userStore.profile.name }}
              <q-btn
                icon="edit"
                fab-mini
                flat
                :loading="userStore.isLoading"
                @click="edit = true"
              />
            </div>
            <div>
              Дата рождения: {{ userStore.profile.birthday }} <br>
              Email: {{ userStore.profile.email }}<br>
              Телефон: +{{ userStore.profile.phone }}<br>
            </div>
            <div>
              Баланс: {{ userStore.profile.balance }}
            </div>
          </div>
        </q-card-section>
      </q-card>

      <q-space style="height: 20px" />

      <q-btn
        v-if="!edit"
        class="full-width row"
        icon="logout"
        color="primary"
        label="Выйти"
        @click="logout"
      />
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useUserStore } from 'src/store/user'
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'

const router = useRouter()
const userStore = useUserStore()
const edit = ref(false)
const $q = useQuasar()

const profileSave = async () => {
  const res = await userStore.updateProfile(userStore.profile)
  if (res.error) {
    $q.notify({
      message: 'Что-то не получилось',
      caption: res.error.toString(),
      type: 'negative',
    })
  } else edit.value = false
}

const logout = async () => {
  userStore.logout()
  await router.replace('/')
}

onMounted(async () => {
  await userStore.loadProfile()
})
</script>
