<template>
  <q-layout view="lHh Lpr lFf">
    <PageHeader />

    <q-page-container>
      <router-view v-slot="{ Component }">
        <component :is="Component" />
      </router-view>
    </q-page-container>

    <PageFooter />
  </q-layout>
</template>

<script setup lang="ts">
import PageHeader from 'components/page/PageHeader.vue'
import PageFooter from 'components/page/PageFooter.vue'
</script>
